.footer {
  width: 100%;
  background-color: var(--color-surface);
  color: var(--color-text);
  padding: 2rem;
  height: 20vh;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-border-soft);
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  margin: 0 auto;
}

.footer-brand {
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  color: var(--color-text-muted);
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social,
.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--color-text);

  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--color-primary);
}

.footer-social a {
  text-decoration: none;
  color: var(--color-text);

  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--color-primary);
}